/*estilos*/
*{
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: rgba(248, 220, 39, 0.85);
    font-family: 'Montserrat', sans-serif;
}

/* login view-styles*/
.profile-header{
    margin-top: 5vh;
}

.profile-header-container{
    margin: 0 auto;
}

img.img-profile{
    padding-top: 15%;
    border-radius: 50%;
    border-color: deepskyblue;
}

#logo-face,
#button-auth{
    padding-top: 5vh;
}

#button-auth{
    text-align: center;
}

#or{
    padding-top: 7%;
    font-size: 1.5em;
}

#loginlogin{
    margin-top: 3vh;
}

/* timeline-styles */

#timeline-pic{
    padding-top: 0px;
}

/* estilos profile view */
.bg-profile {
  background-color: #ffffff;
}
.navbar-main {
  margin-bottom: 0;
}
.navbar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-elements {
  margin: 0 5px;
}
.glyphicon {
  color: #ffffff;
  margin-top: 10px;
  font-size: 2em;
}
.profile-user {
  width: 100%;
  height: 12em;
}

.cover-page {
    background: #4ba6f9;
    width: 100%;
    height: 100%;
}

.cover-page {
  width: 100%;
  height: 100%;
}

.nav-tabs {
  border-bottom: 3px solid #2978ca;
}

.tittle-profile {
  font-weight: bold;
  font-size: 1.5em;
}

.text-tabs-profile {

}
.btn-follow {

}

/***** timeline view- estilo a la parte de publicación y crear eventos*****/
#publish-space{
    margin-top: 3vh;
}

.new-boxes{
    width: 100%;
    height: 7vh;
    background: #4ba6f9;
    margin-top: 10vh;
}
