<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simpsapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="https://use.fontawesome.com/62b5493aa6.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <!-- nav bar -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="profile.html">
                    <img src="http://fillmurray.com/50/50" class="img-responsive col-xs-12" alt="user-pic">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="publish-box container">
        <div class="row">
            <div class="photo-user-publish col-xs-offset-2 col-xs-1">
                <img src="http://fillmurray.com/40/40" alt="pic-profile">
            </div>
            <div class="post col-xs-offset-1 col-xs-6">
                <textarea name="text" id="text" maxlength="280" placeholder="¿Quieres compartir algo?"></textarea>
                <hr>
            </div>
        </div>
        <div class="row">
            
        </div>
    </section>







    <!-- link al app.js y a bootstrapJS.min -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="../js/app.js"></script>
</body>

</html>